<!-- <div class="container">
    <table class="table table-hover table-border">
        <thead>
            <tr>
                <th>Id</th>
                <th>avatarurl</th>
                <th>nodeid</th>
                <th>url</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let git of github; index as i'>
                <td>{{i+1}}</td>
                <td>{{git.avatar_url"}}</td>
                <td>{{git.node_id}}</td>
                <td>{{git.url}}</td>
            </tr>
        </tbody>

    </table>

</div> -->
